.sem-eventos {
  text-align: center;
}

.eventos {
  flex: 1;
  margin-block:24px;
}

.eventosLista {
  padding: 0;
  text-align: center;
}

.eventoLista-item {
  list-style: none;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  min-width: 200px;
  margin-bottom: 16px;
  text-align: left;
  transition: transform 300ms;
}

.eventoLista-item:hover,
.eventoLista-item:focus-within {
  transform: scale(1.025);
}

.eventoLista-item__cabecalho,
.eventoLista-item__corpo {
  display: flex;
}

.eventoLista-item__cabecalho {
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding: 16px;
  border-bottom: 1px solid #000;
}

.eventoLista-item__corpo {
  justify-content: center;
  align-items: center;
  padding: 32px 16px;
  gap: 24px
}

@media (max-width:600px) {
  .eventoLista-item__corpo {
    padding: 24px 16px;
  }
}

.eventoLista-item__nome {
  color: #2F2D37;
  font-size: 22px;
  line-height: 28px;
  font-weight: 800;
}

@media (max-width:600px) {
  .eventoLista-item__nome {
    font-size: 16px;
    line-height: 22px;
  }
}

.eventoLista-item__data {
  min-width: 80px;
  text-align: center;
  background: #484553;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 800;
  color: #fff;
}

@media (max-width:600px) {
  .eventoLista-item__data {
    min-width: 72px;
    font-size: 12px;
  }
}

/* ------------------- */

.deletarEvento,
.editarEvento {
  min-width: 32px;
  aspect-ratio: 1;
  cursor: pointer;
  border-radius: 4px;
}

@media (max-width:600px) {
  .deletarEvento,
  .editarEvento {
    min-width: 16px;
  }
}

.deletarEvento .icon,
.editarEvento .icon{
  color:#2F2D37;
  font-size: 24px;
  transition: color 250ms;
}

@media (max-width:600px) {
  .deletarEvento .icon,
  .editarEvento .icon{
    font-size: 16px;
  }
}

.deletarEvento:focus {
  outline:2px solid #E14339;
}

.editarEvento:focus {
  outline:2px solid #169116;
}

.deletarEvento:hover .icon,
.deletarEvento:focus .icon{
  color:#E14339;
}

.editarEvento:hover .icon,
.editarEvento:focus .icon {
  color: #169116;
}

.salvarEditarEvento {
  position: relative;
  max-width: 600px;
  bottom:0px;
  padding:16px;
  background-color: #2F2D37;
  border-radius: 4px;
}

.salvarEditarEvento-form {
  display: grid;
  gap:8px;
  grid-template-areas:
  "nome button"
  "data button"
}

.salvarEditarEvento-form__nome {
  grid-area: nome;
}

.salvarEditarEvento-form__data {
  grid-area: data;
}

.salvarEditarEvento-form__button {
  grid-area: button;
}